%h1 Welcome to Treegram.
%h2 Your favorite place to show off to the world.
.row
  .col-sm-4
    = link_to 'Login', log_in_path, class: ["btn", "btn-success", 'btn-lg']
    = link_to 'Sign Up', new_user_path, class: ['btn', 'btn-success', 'btn-lg']
.row
  = image_tag "treeofgondor.png"
 